* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


main {
    padding-top: 4.5rem;
    padding-inline: 2rem;

}



